html, body{
    height: 100%;
    margin: 0;
    padding: 1000;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 224, 200);
}

.box{
    width: 60px;
    height: 60px;
    background-color: blueviolet;
}

.canvas{
    width: 600px;
    height: 350px;
    background-color: burlywood;

}

.block{
    width: 80px;
    height: 40px;
    border-radius: 10px;
}

.block-red{
    background-color: #f00;
}

.block-blue{
    background-color: blue;
}

.block-green{
    background-color: green;
}
.block-black{
    background-color: black;
}

.tube{
    min-height: 200px;
    width: 76px;
    padding: 10px;
    border: 3px solid white;
    border-top: none;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
    align-items: center;
}

.game-area{
    padding: 150px;
    display: flex;
    gap: 10px;
    width: fit-content;
    border-radius: 15px;
    background-color: rgb(0, 97, 58);
}

.border-white{
    border: 1px solid white;
}

.container{
    padding: 50px;
    width: fit-content;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.controls{
    padding: 20px;
}

.title{
    font-size: 36px;
    font-weight: bold;
}

.level-dropdown{
    font-size: 24px;
    padding: 5px;
    font-weight: 600;
    border-radius: 15px;
    width: 80px;
    text-align: center;
}

.level-area{
    margin-bottom: 20px;
}

.sorted{
    border-color: rgb(0, 255, 0);
}

.btn{
    background-color: transparent;
    border-radius: 10px;
    border: 5px solid rgb(0, 255, 0);
    padding: 15px;
}

.btn:hover{
    background-color:rgba(0, 255, 0, 0.493);
}

.btn:disabled{
    border:5px solid grey;
    cursor: not-allowed;
}

.draggable{
    cursor: grab;
}
.textBold{
font-weight: bold;
}